@font-face {
	font-family: "Ubuntu";
	src: url(../font/Ubuntu-M.ttf);	
}

html {
	scroll-behavior: smooth;
}

/* Header & Footer */
body {
	min-height: 100vh;
}

.navbar-light {
    border-width: 0.5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
	text-transform: uppercase;
}

.navbar .nav-item {	
	letter-spacing: 1.5px;	
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}

.nav-link {
	color: #333 !important;
}

.nav-link:hover {
	background-color: lightgray !important;
}

.footer-box {
	font-family: sans-serif;
	color: #DDD;
	background-color: #444;
	padding-top: 10px;
	padding-bottom: 10px;
}

.icon {
	color: #DDD;
	font-size: 25px;
	letter-spacing: 5px;
}

.nav-bar-push {
	margin-top: 56px;
}

.facebook-hover:hover {
	color: rgb(59,88,156);
	cursor: pointer;
}

.github-hover:hover {	
	cursor: pointer;
	/*color: rgb(149,157,165);*/
	color: rgb(0, 0, 0);
}

.linkedin-hover:hover {	
	cursor: pointer;
	color: rgb(10, 102, 194);
}

.twitter-hover:hover {	
	cursor: pointer;
	color: rgb(29, 155, 240);
}

/* Research */
.research-section {
	font-family: sans-serif;
	margin-bottom: 20px;
}

.research-section .row {
	margin: 20px 0 20px 0;
}

.paper-icon {
	font-size: 64px;
	text-align: center;
	filter: drop-shadow(2px 2px 1px #666666);
}

.paper-icon img {
	width: auto;
	max-height: 128px;
}

.paper-author, .paper-type {
	color: #7d848a;
}

.paper-author:after {
	content: ":";
}

.paper-name {
	color: #666666;
	font-weight: bold;
}


/* Utilities */
.selectable {
	-webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.unselectable {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}